@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-carousel {
  border-radius: 8px;
  background-color: #1f1f1f;
  border: 16cap;
  padding: 16px;
}
.ant-carousel .slick-slide {
  background: #434343;
  padding: 16px;
  padding-bottom: 48px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ tùy ý */
  text-align: center;
}
.backgroundimage-content {
  background-image: url("https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700081/59591878-seamless-cinema-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-cinema-vector.jpg");
}
